@page "/"

<PageTitle>首頁</PageTitle>

<h1>歡迎使用 gRPC 聊天服務</h1>

<p>這是一個使用 Blazor Server 和 gRPC 服務的聊天應用程式。</p>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                聊天功能
            </div>
            <div class="card-body">
                <p>在這裡您可以：</p>
                <ul>
                    <li>連接到聊天室</li>
                    <li>發送訊息</li>
                    <li>查看聊天歷史</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                系統狀態
            </div>
            <div class="card-body">
                <p>服務已啟動並運行中</p>
            </div>
        </div>
    </div>
</div>
