<nav>
  <ul>
    <li><NavLink href="">Dashboard</NavLink></li>
    <li><NavLink href="clients">在線用戶</NavLink></li>
    <li><NavLink href="logs">聊天紀錄</NavLink></li>
    <li><NavLink href="settings">系統設定</NavLink></li>
  </ul>
</nav>